 body.active-modal {
   overflow-y: hidden; 

} 

.btnModal {
    button{
        margin: 10px 10px;
        width: 60px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
        color: red;
    }
    h4{
        text-align: center;
        
    }
    align-items: center;
    display: flex; 
    margin: 100px auto 0;
    font-size: 18px;
    position: fixed;
    top: -98px;
    left: 92%;

}
.modal{
    z-index: 10;

}
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
   
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modalContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 30px 50px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    border-radius: 30px;
    
    h3{
        text-align: center;
    }
    ul{
       overflow-y: scroll;
       height: 294px;
      

   }


}

.closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    &:hover {
transition: all ease-in 0.4s;
background: rgb(196, 196, 196);
    }
}

@media screen and (max-width: 1024px) {
    .btnModal {
        position: fixed;
        top: -98px;
        left: 90%;
    }
}


@media screen and (max-width: 850px) {
    .btnModal {
        position: fixed;
        top: -46px;
        left: 69%;
        background: white;
        border-radius: 30px;

    }
}