.foodPageWrapper {
  text-align: center;
  margin-top: 30px;
}
.foodCard {
  position: relative;
}
.imgPricesSizesWrapper {
  background: gray;
  width: 100%;
  border-radius: 30px;
  display: flex;
  filter: grayscale(60%);

  &:hover {
    transition: all ease-in-out 0.3s;
    filter: grayscale(0%);
  }
  img {
    width: 340px;
    height: 266px;
    border-radius: 30px;
  }
}
/* .btnAdded {
  animation-name: add;
  animation-duration: 0.5s;
}
@keyframes add {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */

.sizeAndPriceWrapper {
  display: block;
  display: flex;
  .sizes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 8vh;
    li {
      margin: 20px 0;
    }
  }
  .prices {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: space-evenly;
    .price1 {
      align-items: center;
      width: 20vh;
      display: flex;
      button {
        width: 65px;
        margin: 30px 0;

        cursor: pointer;
      }
    }
    .price2 {
      align-items: center;
      width: 20vh;
      display: flex;
      button {
        width: 65px;

        cursor: pointer;
      }
    }
  }
  li {
    list-style-type: none;
  }
}
.sizePriceButtonWrapper {
  width: 250px;
  display: block;
  justify-content: space-around;
  align-items: center;
  .sizeAndPriceWrapper {
    position: absolute;
    top: 20%;
    left: 58%;
    button {
      width: 55%;
    }
  }
}
.cartItemsList {
  overflow: auto;
  height: 226.8px;
}
.cartItems {
  display: flex;
  justify-content: space-between;
  transition: all ease-in-out 0.5s;
  border-radius: 5px;
  list-style-type: none;
  font-weight: 800;
  border: 1px solid black;
  padding: 5px 10px;
  align-items: center;
  button {
    cursor: pointer;
    border-radius: 20px;
    border: none;
    height: 30px;
  }
  &:hover {
    background: rgb(192, 192, 192);
  }
}
.added {
  background: #d1e7dd;
  position: fixed;
  top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60px;
  border-radius: 30px;
  z-index: 1;
}

@media screen and (max-width: 1244px) {
  .imgPricesSizesWrapper {
    flex-direction: column;
    justify-content: center;
    background: none;
  }
  .sizePriceButtonWrapper {
    .sizeAndPriceWrapper {
      display: block;
      position: absolute;
      top: 100%;
      left: 10%;
      .sizes {
        width: 65%;
        flex-direction: row;
        li {
          margin: 0;
        }
      }
      .prices {
        flex-direction: row;
        display: flex;
        .price1 {
          align-items: flex-start;
         width: 15vh;
      
          button {
            margin: 0;
            height: 20px;
          }
        }
        .price2 {
          align-items: flex-start;
          width: 18vh;
          button {
            height: 20px;
          }
        }
      }
    }
    .btn {
      top: 104%;
      left: 70%;
    }
  }
  .foodCard {
    margin-top: 50px;
    padding-bottom: 50px;
    background: gray;
    border-radius: 20px;
  }
  .added {
    font-size: 12px;
  }
}

