
    .imgWrapper{
        position: relative;
        img{
            
            width:100%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            opacity: 0.6;
        }
    } 
.descriptionWrapper{
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
   text-align: center;
   font-family: 'Rubik Dirt', cursive;
}

.weatherWrapper{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    img{
        height: 50px;
        width:50px;
    }
 }

