
    .imgWrapper{
        position: relative;
        img{
            
            width:100%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            opacity: 0.6;
        }
    } 
.descriptionWrapper{
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
   text-align: center;
   font-family: 'Lobster', cursive;
}

.weatherWrapper{
    position: absolute;
    top:-9%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    img{
        height: 50px;
        width:50px;
    }
 }

 .foodpandaAndWoltSection{
    height: 400px;
    background: linear-gradient(90deg, rgba(208,15,97,1) 10%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgb(98, 195, 240) 90%);    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    h2{
        text-align: center;
        font-size: 26px;
    }
    img{
        border-radius: 50px 25px ;
        width: 200px;
        height: 100px;
        
        &:hover{
            transform: scale(1.3);
            transition-duration: 1s;
        }
    }
 }


 


 @media screen and (max-width: 830px){
    .foodpandaAndWoltSection{
        background: linear-gradient(0deg, rgba(98,195,240,1) 10%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(208,15,97,1) 90%);
        flex-direction: column;
    }
    .weatherWrapper{

        position: absolute;
    top:-29%;
    left:26%;
    }
 }
 @media screen and (max-width: 700px){
    .weatherWrapper{

        position: absolute;
    top:-35%;
    left:26%;
    }
 }
 @media screen and (max-width: 615px){
    .weatherWrapper{

        position: absolute;
    top:-40%;
    left:26%;
    }
 }
 @media screen and (max-width: 535px){
    .weatherWrapper{

        position: absolute;
    top:-45%;
    left:26%;
    }
 }
 @media screen and (max-width: 460px){
    .weatherWrapper{

        position: absolute;
    top:-53%;
    left:26%;
    }
 }
 @media screen and (max-width: 390px){
    .weatherWrapper{

        position: absolute;
    top:-65%;
    left:26%;
    }
}

@media screen and (max-width: 315px){
    .foodpandaAndWoltSection{
        h2{
            font-size: medium;
        }
    }
    .weatherWrapper{
   
        position: absolute;
    top:-75%;
    left:26%;
    }
 }
