.title{
margin-top: 30px;
font-family: 'DynaPuff', cursive;
font-size: larger;
}
.navElementsWrapper{
    width: 80%;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1;
    ul{
        background: rgb(221, 221, 221);
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        li{
            font-family: 'DynaPuff', cursive;
            padding: 10px 0;
            cursor: pointer;

            &:hover{
                background: rgb(177, 175, 175);
                transition: all ease-in-out 0.4s;
            }
        }

    }
}