.navElementsWrapper{
    width: 80%;
    text-align: center;
    ul{
        background: rgb(221, 221, 221);
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        li{
            padding: 10px 0;
            cursor: pointer;

            &:hover{
                background: rgb(177, 175, 175);
                transition: all ease-in-out 0.4s;
            }
        }

    }
}