.pizzaPageWrapper {
  text-align: center;
  margin-top: 30px;
}
.pizzaCard {
  position: relative;
}
.imgPricesSizesWrapper {
  background: gray;
  width: 100%;
  border-radius: 30px;
  display: flex;
  filter: grayscale(60%);

  &:hover {
    transition: all ease-in-out 0.3s;
    filter: grayscale(0%);
  }
  img {
    width: 340px;
    height: 266px;
    border-radius: 30px;
  }
}
.sizeAndPriceWrapper {
  display: block;
  .sizes {
    display: flex;
    justify-content: space-around;
    width: 28vh;
  }
  .prices {
    display: flex;

    margin-top: 10px;
    .price1 {
      button {
        width: 61px;
       /*  margin-right: 8px; */
        cursor: pointer;
    }
    width: 28vh;
    display: flex;
}
.price2 {
    button {
        width: 61px;
       /*  margin-right: 8px; */
        cursor: pointer;
      }
      width: 100%;
      display: flex;
    }
  }
  li {
    list-style-type: none;
  }
}
.sizePriceButtonWrapper {
  width: 250px;
  display: block;
  justify-content: space-around;
  align-items: center;
  .sizeAndPriceWrapper {
    position: absolute;
    top: 20%;
    left: 58%;
    button {
      width: 55%;
    }
  }
}
.cartItemsList {
  overflow: auto;
  height: 226.8px;
}
.cartItems {
  display: flex;
  justify-content: space-between;
  transition: all ease-in-out 0.5s;
  border-radius: 5px;
  list-style-type: none;
  font-weight: 800;
  border: 1px solid black;
  padding: 5px 10px;
  align-items: center;
  button {
    cursor: pointer;
    border-radius: 20px;
    border: none;
    height: 30px;
  }
  &:hover {
    background: rgb(192, 192, 192);
  }
}

@media screen and (max-width: 1244px) {
  .imgPricesSizesWrapper {
    flex-direction: column;
    justify-content: center;
    background: none;
  }
  .sizePriceButtonWrapper {
    display: flex;
    .sizeAndPriceWrapper {
      position: absolute;
      top: 100%;
      left: 10%;
    }
    .btn {
      top: 104%;
      left: 70%;
    }
  }
  .pizzaCard {
    margin-top: 50px;
    padding-bottom: 50px;
    background: gray;
    border-radius: 20px;
  }
}
